*{
  font-size:14px;
  font-family:monospace;
}

h1{
  font-size: 48px;
  text-decoration: underline;
}

h2{
  font-size: 28px;
}

h4{
  font-size: 18px;
}

footer{
  position: absolute;
}

.block{
  padding:6px;
  border: 1px solid black;
}

.bigNumber{
  font-size: 24px;
}

.square{
  background-color:#C8EBB8;
}

.impact{
  font: 1em impact;
}

.very{
  font-style:oblique;
}

.add{
  font-weight:900;
}

#book{
  border: 3px solid black;
  border-radius: 10px;
}

#division{
  margin:10px;
}

#timesTable td, #timesTable th{
  border: 1px solid black;
}

#memorize{
  color:red;
  font-weight:bold;
}

#operations{
  list-style-type: square;
}

a[href]{
  color: red;
}

a[href="https://www.google.com/search?q=secrets+of+mental+math&safe=strict&rlz=1C1GGRV_enUS817US817&source=lnms&tbm=shop&sa=X&ved=0ahUKEwiFpeHAwerdAhXEmOAKHURHBvIQ_AUIECgD&biw=630&bih=895"]{
  font-size:24px;
}

img[src]{
  padding:3px;
  border:3px solid black;
}

h2 + p{
  line-height: 1.5;
}

nav a{
  font-size:24px;
}

a:visited{
  color:purple;
}

a:hover{
  color: blue;
}

 body :not(p){
  letter-spacing:1px;
}
