*{
  font-size:14px;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 28px;
}

h4{
  font-size: 18px;
}

footer{
  position: fixed;
  bottom: 0;
}

.block{
  padding:6px;
  border: 1px solid black;
}

.bigNumber{
  font-size: 24px;
}

.square{
  background-color:#C8EBB8;
}

#division{
  margin:10px;
}

#timesTable td, #timesTable th{
  border: 1px solid black;
  border-collapse: collapse;
}

#memorize{
  color:red;
  font-weight:bold;
}

a[href]{
  color: red;
}

a[href="https://www.google.com/search?q=secrets+of+mental+math&safe=strict&rlz=1C1GGRV_enUS817US817&source=lnms&tbm=shop&sa=X&ved=0ahUKEwiFpeHAwerdAhXEmOAKHURHBvIQ_AUIECgD&biw=630&bih=895"]{
  font-size:24px;
}

img[src]{
  padding:3px;
  border:3px solid black;
}
